# DIRECTORIOS
.vs/

Eldersbane/Temp/
Eldersbane/Lib/

Eldersbane/Eldersbane/x64/

# TIPOS DE ARCHIVOS
*.vcxproj.user

*.pdb
*.log
*.ik
*.idb
*.obj
*.exe
*.exe.recipe
*.lib.recipe
*.lastbuildstate
*.exp
*.dll

# Ignore vim files
*.swp
